{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Dataset') }}</h1>
      </div>
      <div class="section__body">
        <iframe src="{{ reverse_url('problem_upload', pid=pdoc['doc_id']) }}" frameborder="0" style="width: 100%; height: 100px;"></iframe>
        <p class="help-text">{{ _('Hint') }}: <a href="{{ reverse_url('wiki_help') }}#upload">{{ _('Dataset Format') }}</a>, {{ _('An example of dataset') }}: <a href="https://github.com/vijos/jd4/blob/master/jd4/testdata/aplusb-legacy.zip?raw=true">{{ _('Download') }}</a></p>
        {% if pdoc and (handler.own(pdoc, vj4.model.builtin.PERM_READ_PROBLEM_DATA_SELF) or handler.has_perm(vj4.model.builtin.PERM_READ_PROBLEM_DATA) or handler.has_priv(vj4.model.builtin.PRIV_READ_PROBLEM_DATA)) %}
        <p><a href="{{ reverse_url('problem_data', pid=pdoc['doc_id']) }}" class="expanded button">{{ _('Download Dataset') }}</a></p>
        {% endif %}
      </div>
    </div>
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Settings') }}</h1>
      </div>
      <div class="section__body">
        <form method="post">
        <div class="row">
          {{ form.form_checkbox(columns=8,label='Hidden', help_text='Note: Problem title may not be hidden.', name='hidden', value=pdoc['hidden'], row=false) }}
        </div>
        <div class="row">
          {{ form.form_text(columns=3, label='Time limitations', name='limit_time', help_text='default 1000 ms', value=pdoc['limit_time']|default(1000), row=false) }}
          {{ form.form_text(columns=3, label='Space limitations', name='limit_space', help_text='default 256 MB', value=pdoc['limit_space']|default(256), row=false) }}
          {{ form.form_text(columns=3, label='Data file name', name='file_name', help_text='.in/.out/.ans', value=pdoc['file_name']|default(''), row=false) }}
          {{ form.form_select(columns=3, label='Problem type', name='problem_type', help_text='When not set to normal problem, you should put a config file in data.zip', options=vj4.model.adaptor.problem.SETTING_PROBLEM_TYPE_RANGE.items(), value=pdoc['problem_type']|default(0), row=false) }}
        </div>
        <div class="row">
          {{ form.form_select(columns=3, label='Problem Quality', help_text='vote for problems', name='quality', options=vj4.model.adaptor.problem.SETTING_PROBLEM_QUALITY_RANGE.items(), value=pdoc['quality']|default(0), row=false) }}
          {{ form.form_select(columns=3, label='Problem Stars', help_text='1 to 4 stars, 4 is extremly hard', name='pb_stars', options=vj4.model.adaptor.problem.SETTING_PROBLEM_STARS_RANGE.items(), value=pdoc['pb_stars']|default(0), row=false) }}
          {{ form.form_text(columns=3, label='Max Coding Time', name='coding_time', help_text='suggest coding time(in second).', value=pdoc['coding_time']|default('360'), row=false) }}
        </div>
        <div class="row">
          {{ form.form_select(columns=4, label='Difficulty', name='difficulty_setting', options=vj4.model.adaptor.problem.SETTING_DIFFICULTY_RANGE.items(), value=pdoc['difficulty_setting']|default(0), row=false) }}
          {{ form.form_text(columns=4, label='Evaluated difficulty', help_text='Effects only when Difficulty is not \'Use algorithm calculated\'.', name='difficulty_admin', placeholder='9', value=pdoc['difficulty_admin'] or '', row=false) }}
          <div class="medium-4 columns">
            <p class="help-text">{{ _('Difficulty displayed') }}: {{ pdoc['difficulty'] or _('(None)') }}</p>
            <p class="help-text">{{ _('Difficulty by algorithm') }}: {{ pdoc['difficulty_algo'] or _('(None)') }}</p>
            <p class="help-text">{{ _('Difficulty by admin') }}: {{ pdoc['difficulty_admin'] or _('(None)') }}</p>
          </div>
        </div>
        <div class="row">
          {{ form.form_text(columns=9, label='Category', help_text='Format: category 1, sub category 1.1, sub category 1.2, ..., sub category 1.x, ..., category n, sub category n.1, sub category n.2, ..., sub category n.m, ...', name='category', value=pdoc['category']|join(', '), row=false) }}
        </div>
        <div class="row">
          {{ form.form_text(columns=6, label='Tags', help_text='Splitted by \', \'.', name='tag', value=pdoc['tag']|join(', '), row=false) }}
          {{ form.form_text(columns=6, label='AC Message', help_text='This message will be presented to those whose submissions are accepted.', name='ac_msg', value=(pdoc['ac_msg'] or '' ), row=false) }}
        </div>
        <div class="row">
          {{ form.form_select(columns=4, label='Sources', help_text='Sources: from which book, website or author .etc', name='source', options=vj4.model.adaptor.problem.SETTING_SOURCE_RANGE.items(), value=pdoc['source']|default(0), row=false) }}
          {{ form.form_text(columns=8, label='Source Link', help_text='If this problem comes from other website, please fill in the links.', name='src_link', value=(pdoc['src_link'] or '' ), row=false) }}
        </div>
        <div class="row">
          {{ form.form_text(columns=3, label='Time', help_text='Year', name='year', value=pdoc['year']|default(''), row=false) }}
          {{ form.form_text(columns=3, label='Region', help_text='Provience', name='region', value=pdoc['region']|default(''), row=false) }}
        </div>
        <div class="row"><div class="columns">
          <input type="hidden" name="csrf_token" value="{{ handler.csrf_token }}">
          <button type="submit" class="rounded primary button">
            {{ _('Update') }}
          </button>
          <button type="button" class="rounded button" onclick="window.history.go(-1)">
            {{ _('Cancel') }}
          </button>
        </div></div>
        </form>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    {% with owner_udoc=udoc, owner_dudoc=dudoc %}
    {% include "partials/problem_sidebar.html" %}
    {% endwith %}
  </div>
  <div class="medium-3 columns">
    <div class="section side">
      <div class="section__header">
        <h1 class="section__title">{{ _('Categories') }} ({{ _('click to add') }})</h1>
      </div>
      <div class="section__body"><ul class="group-list" data-widget-cf-container>
      {% for category, sub_categories in categories.items() %}
        <li class="group-list__item">
          <h2 class="section__title"><a href="javascript:;" data-category="{{ category }}">{{ category }}</a></h2>
        {% if sub_categories|length > 0 %}
          <ol class="chip-list">
          {% for sub_category in sub_categories %}
            <li class="chip-list__item"><a class="typo-a" href="javascript:;" data-category="{{ sub_category }}">{{ sub_category }}</a></li>
          {% endfor %}
          </ol>
        {% endif %}
        </li>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
