$footer-extra-link-gap = 20px

.footer
  background: $footer-bg-color
  color: $text-1-color

  h1
    font-size: rem($font-size-title)

    +mobile()
      padding: rem($grid-padding)
      cursor: pointer
      font-size: rem($font-size-secondary)

.footer__category
  padding-top: rem(30px)
  padding-bottom: rem(50px)

  +mobile()
    padding-top: rem($grid-padding)
    padding-bottom: rem($grid-padding)
    border-bottom: 1px solid darken($footer-bg-color, 5%)

    &.expandable
      padding: 0

  .expand-icon
    display: none

    +mobile()
      display: inline-block

  &.expanded .expand-icon
    transform: rotate(180deg)

.footer__category__list
  margin-top: rem(10px)
  margin-bottom: rem(10px)
  font-size: rem($font-size-small)
  line-height: 2

  +mobile()
    margin-top: 0
    padding-left: rem($grid-padding)
    padding-right: rem($grid-padding)

.footer__category__expander
  +mobile()
    display: none

  +above(rupture.mobile-cutoff)
    display: block !important

.footer__extra-left
  float: left

.footer__extra-right
  float: right

.footer__extra-link
  padding: rem(20px 0)
  font-size: rem($font-size-small)

.footer__extra-link-item
  float: left
  line-height: 2

.footer__extra-left .footer__extra-link-item
  margin-right: rem($footer-extra-link-gap)

.footer__extra-right .footer__extra-link-item
  margin-left: rem($footer-extra-link-gap)

.layout--immersive
  .footer
    background: none
    color: #FFF

    a, a:visited, a:active
      color: #FFF

    a:hover
      color: #FFF

.back-to-top {
  position: fixed;
  z-index: 2;
  right: -108px;
  bottom: 0;
  width: 108px;
  height: 150px;
  background: url("http://www.topscoding.com/fs/9c8698821bfc025b315cc50298f8a4256364dbd8") no-repeat 0 0;
  background-size: 108px 450px;
  opacity: 0.8;
  transition: opacity 0.3s, right 0.8s;
}
.back-to-top:hover {
  background-position: 0 -150px;
  opacity: 1;
}
.back-to-top.load {
  right: 0px;
}
.back-to-top.ani-leave {
  background-position: 0 -150px;
  animation: ani-leave 390ms ease-in-out;
  animation-fill-mode: forwards;
}
.back-to-top.leaved {
  pointer-events: none;
  background: none;
  transition: none;
}
.back-to-top.ending {
  pointer-events: none;
}
.back-to-top.ending::after {
  opacity: 1;
}
.back-to-top::after {
  content: '';
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 108px;
  height: 150px;
  background: url("http://www.topscoding.com/fs/9c8698821bfc025b315cc50298f8a4256364dbd8") no-repeat 0 0;
  background-size: 108px 450px;
  background-position: 0 -300px;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}

@-moz-keyframes ani-leave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(108px);
  }
}
@-webkit-keyframes ani-leave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(108px);
  }
}
@-o-keyframes ani-leave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(108px);
  }
}
@keyframes ani-leave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(108px);
  }
}



+mobile()
  .footer__extra-left, .footer__extra-right
    float: none
    display: block

    .footer__extra-link-item
      float: none
      display: inline-block
      margin-left: 0
      margin-right: $footer-extra-link-gap