.page--training_rank
  .col--rank
    width: rem(20px)
    border-right: 1px solid $table-border-color
    text-align: center

  .col--user
    width: rem(100px)
    border-right: 1px solid $table-border-color

  .col--progress
    width: rem(30px)
    border-right: 1px solid $table-border-color
    text-align: left
  
  .col--accept
    width: rem(30px)
    border-right: 1px solid $table-border-color
    text-align: center
  
  .col--bio
    width: rem(180px)
    border-right: 1px solid $table-border-color

  +mobile()
    .col--user, .col--accept
      width: auto
    .col--bio
      display: none
