<div class="footer">
  <div class="row"><div class="columns">
  {% if show_topics|default(true) %}
    <div class="row footer__links">
      <div class="medium-3 large-2 columns footer__category expandable">
        <h1>
          {{ _('Status') }}
          <span class="expand-icon">
            <span class="icon icon-expand_more"></span>
          </span>
        </h1>
        <div class="footer__category__expander"><ul class="footer__category__list">
          <li class="footer__category__item"><a href="{{ reverse_url('record_main') }}">{{ _('Judging Queue') }}</a></li>
          <li class="footer__category__item"><a href="#">{{ _('Service Status') }}</a></li>
        </ul></div>
      </div>
      <div class="medium-3 large-2 columns footer__category expandable">
        <h1>
          {{ _('Links') }}
          <span class="expand-icon">
            <span class="icon icon-expand_more"></span>
          </span>
        </h1>
        <div class="footer__category__expander"><ul class="footer__category__list">
          <li class="footer__category__item"><a href="http://www.tlscode.com/" target="_blank">{{ _('TopsCoding') }}</a></li>
          <li class="footer__category__item"><a href="http://www.noi.cn/">{{ _('NOI') }}</a></li>
          <li class="footer__category__item"><a href="https://oi-wiki.org/">{{ _('OI Wiki') }}</a></li>
        </ul></div>
      </div>
      <div class="medium-3 large-2 columns footer__category expandable">
        <h1>
          {{ _('Community') }}
          <span class="expand-icon">
            <span class="icon icon-expand_more"></span>
          </span>
        </h1>
        <div class="footer__category__expander"><ul class="footer__category__list">
          <li class="footer__category__item"><a href="/wiki/help">{{ _('Help') }}</a></li>
          <li class="footer__category__item"><a href="https://jq.qq.com/?_wv=1027&k=nZEpThBF">{{ _('Parents Group') }}</a></li>
          <li class="footer__category__item"><a href="https://jq.qq.com/?_wv=1027&k=sf7dZBBK">{{ _('Students Group') }}</a></li>
        </ul></div>
      </div>
      <div class="medium-3 large-2 columns footer__category expandable">
        <li class="footer__category__item"><a>{{_('Scan to follow on wechat')}}</a></li>
        <a target="_blank"><img src="https://i.loli.net/2020/09/30/4Vdz8JscNS1DOgy.png" ></a>
      </div>
      <div class="medium-3 large-2 columns footer__category expandable end">
        <li class="footer__category__item"><a>{{_('QQ Group')}}</a></li>
        <a target="_blank"><img src="https://i.loli.net/2020/10/02/yAqr6tPbv35NBxS.png" ></a>
      </div>
    </div>
  {% endif %}
    <div class="footer__extra-link clearfix">
      <div class="footer__extra-left">
        <ol class="clearfix">
          <li class="footer__extra-link-item"><a href="/about">{{ _('About') }}</a></li>
          <li class="footer__extra-link-item">© 2018-<span><script type="text/javascript">
              var date = new Date();
              document.write(date.getFullYear());
            </script></span> <a hreaf="//www.topscoding.com">拓尔思编程</a>版权所有</li>
          <li class="footer__extra-link-item"><a href="https://beian.miit.gov.cn/">皖ICP备19000842号</a></li>
          <li class="footer__extra-link-item" data-dropdown-target="#menu-footer-lang">
            <span><span class="icon icon-global"></span> Language <span class="icon icon-expand_less"></span></span>
            <ol class="dropdown-target menu" id="menu-footer-lang">
            {% for code, name in vj4.util.locale.VIEW_LANGS.items() %}
              <li class="menu__item"><a class="menu__link" href="/lang/{{ code }}">{{ name }}</a></li>
            {% endfor %}
            </ol>
          </li>
        </ol>
      </div>
      <div class="footer__extra-right">
        <ol class="clearfix">
        {% for html in vj4.model.builtin.FOOTER_EXTRA_HTMLS %}
          <li class="footer__extra-link-item">{{ html|safe }}</li>
        {% endfor %}
        </ol>
      </div>
    </div>
    <a href="#top" class="back-to-top" target="_self"></a>
  </div></div>
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script>
    (function () {
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        return
      }
    
      var isShow = false, lock = false;
      var $btn = $('.back-to-top');
    
      $(document).scroll(function () {
        if (lock) return
    
        if ($(this).scrollTop() >= 200) {
          if (!isShow) $btn.addClass('load')
          isShow = true
        } else {
          if (isShow) {
            $btn.removeClass('load')
            isShow = false
          }
        }
      })
    
      $btn.click(function () {
        lock = true
        $btn.addClass('ani-leave')
    
        $("html, body").animate({ scrollTop: 0 }, 800);
    
        setTimeout(function () {
          $btn.removeClass('ani-leave').addClass('leaved')
        }, 390)
    
        setTimeout(function () {
          $btn.addClass('ending')
        }, 120)
    
        setTimeout(function () {
          $btn.removeClass('load')
        }, 1500);
    
        setTimeout(function () {
          lock = false
          isShow = false
          $btn.removeClass('leaved ending')
        }, 2000);
      })
    })();
    </script>
</div>
